@import "~bootstrap/scss/bootstrap.scss";
 .box{ 
     
     background-color: black;
     width: 70px;
     height: 100%;
     border-radius: 15%;

 }


 .red{
        margin: auto;
        border-radius: 50%;
        height: 60px;
        width: 60px;
        &.active{
        background-color:red;
        }
        
        &.inactive{
            background-color:gray;
        }
 }

  .yellow{
        margin:auto;
        border-radius: 50%;
        height: 60px;
        width:60px;
        &.active{
            background-color: yellow;
        }
        &.inactive{
            background-color:gray;
        }
  }



  .green{  
        margin:auto;
        border-radius: 50%; 
        height: 60px;
        width: 60px;
        &.active{
        background-color: green;
        }
        
        &.inactive{
            background-color:gray;
        }
  }